.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clear { // TODO: Remove this PoS
	clear: both;
}

html {
	font-size: 10px;
}

body {
	background: $light-gray-shade;
	color: $dark-text-color;
	line-height: 2.4rem;
	margin: 0;
	font-family: $font-family-sans-serif;
	font-size: $font-size;
	overflow-y: scroll;
	text-align: left;
}

/* main link styles */
a:link, a:visited {
	color: $primary-color;
	text-decoration: none;
	@include transition(color);
}

a:hover, a:active {
	color: $primary-color-dark;
}

// #container {
	
// }

.wrapper {
	width: 95%;
	max-width: 1500px;
	margin: 0 auto;
}

#panel .upper a.logout {
	font-weight: bold;
	background: url($img-path + 'headerlinks_sprite.png') right -80px no-repeat;
	padding-right: 20px;
	margin-left: 10px;
}

#panel .upper a.login,
#panel .upper a.lost_password {
	background: url($img-path + 'headerlinks_sprite.png') 0 -100px no-repeat;
	padding-left: 20px;
	margin-left: 10px;
	font-weight: bold;
}

#panel .upper a.register {
	background: url($img-path + 'headerlinks_sprite.png') right -80px no-repeat;
	padding-right: 20px;
	margin-left: 10px;
	font-weight: bold;
}

#panel .lower ul.panel_links {
	float: left;
}

#panel .lower ul.panel_links a.usercp {
	background-position: 0 -120px;
}

#panel .lower ul.panel_links a.modcp {
	background-position: 0 -140px;
}

#panel .lower ul.panel_links a.admincp {
	background-position: 0 -160px;
}

#panel .lower ul.user_links {
	float: right;
}

#panel .lower ul.user_links li a {
	padding: 0;
	background-image: none;
}

#panel .upper {
	background: #0f0f0f url($img-path + 'tcat.png') repeat-x;
	color: #fff;
	border-top: 1px solid #444;
	border-bottom: 1px solid #000;
	padding: 7px;
	clear: both;
}

#panel .upper a:link,
#panel .upper a:visited,
#panel .upper a:hover,
#panel .upper a:active {
	color: #fff;
}

#panel .lower {
	background: #efefef;
	color: #999;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#panel .lower a:link,
#panel .lower a:visited,
#panel .lower a:hover,
#panel .lower a:active {
	color: #666;
}

#search {
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	vertical-align: middle;
}

#search input.button,
#search input.textbox {
	border-color: #000;
}

#search input.button {
	@include primary-gradient;
	color: #fff;
}

#search input {
	margin: -3px 0;
}

#quick_login .remember_me input {
	vertical-align: middle;
	margin: -3px 0 0 5px;
}

#footer {
	clear: both;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul.menu li {
	margin: 0 5px;
	display: inline;
}

#footer .upper {
	background: #efefef;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 6px;
	font-size: 12px;
	overflow: hidden;
}

#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
	color: #777;
}

#footer .upper .language {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .language select {
	border-color: #ccc;
}

#footer .upper .theme {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .theme select {
	border-color: #ccc;
}

#footer .upper ul.bottom_links {
	float: left;
	margin: 4px 0 0 0;
}

#footer .lower {
	color: #666;
	padding: 6px 6px 12px 6px;
	overflow: hidden;
	font-size: 11px;
}

#footer .lower a:link,
#footer .lower a:visited {
	color: #444;
	font-weight: bold;
}

#footer .lower a:hover,
#footer .lower a:active {
	color: $dark-text-color;
	text-decoration: underline;
	font-weight: bold;
}

#footer .lower #current_time {
	float: right;
	color: #888;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 20px;
	font-size: 11px;
}

.scaleimages img {
	max-width: 100%;
}

.forum_status {
	height: 30px;
	width: 30px;
	background: url($img-path + 'forum_icon_sprite.png') no-repeat 0 0;
	display: inline-block;
}

.forum_on {
	background-position: 0 0;
}

.forum_off {
	background-position: 0 -30px;
}

.forum_offlock {
	background-position: 0 -60px;
}

.forum_offlink {
	background-position: 0 -90px;
}

.subforumicon {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 0 5px;
	background: url($img-path + 'mini_status_sprite.png') no-repeat 0 0;
}

.subforum_minion {
	background-position: 0 0;
}

.subforum_minioff {
	background-position: 0 -10px;
}

.subforum_miniofflock {
	background-position: 0 -20px;
}

.subforum_miniofflink {
	background-position: 0 -30px;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}

.post.classic.unapproved_post .post_author {
	border-color: #ffb8be;
}

.post.unapproved_post .post_controls {
	border-top-color: #ffb8be;
}

.bottommenu {
	background: #efefef;
	color: $dark-text-color;
	border: 1px solid #4874a3;
	padding: 10px;
}

.navigation {
	color: $dark-text-color;
	font-size: 12px;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
	text-decoration: underline;
}

.navigation .active {
	color: $dark-text-color;
	font-size: small;
	font-weight: bold;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

fieldset {
	padding: 12px;
	border: 1px solid #ddd;
	margin: 0;
}

fieldset.trow1,
fieldset.trow2 {
	border-color: #bbb;
}

fieldset.align_right {
	text-align: right;
}

input.textbox {
	background: $lightest-background;
	color: $dark-text-color;
	border: 1px solid #ccc;
	padding: 3px;
	outline: 0;
	font-size: 13px;
}

textarea {
	background: $lightest-background;
	color: $dark-text-color;
	border: 1px solid #ccc;
	padding: 2px;
	line-height: 1.4;
	outline: 0;
	font-size: 13px;
}

select {
	background: $lightest-background;
	padding: 3px;
	border: 1px solid #ccc;
	outline: 0;
	font-size: 13px;
}

button,
input.button {
	padding: 3px 8px;
	cursor: pointer;
	font-size: 13px;
	background: #eee url($img-path + 'buttons_bg.png') repeat-x;
	border: 1px solid #bbb;
	color: $dark-text-color;
	outline: 0;
}

button:hover,
input.button:hover {
	border-color: #aaa;
}

form {
	margin: 0;
	padding: 0;
}

input.error, textarea.error, select.error {
	border: 1px solid #f30;
	color: #f30;
}

input.valid, textarea.valid, select.valid {
	border: 1px solid #0c0;
}

label.error {
	color: #f30;
	margin: 5px;
	padding: 0px;
	display: block;
	font-weight: bold;
	font-size: 11px;
}

form #message {
    width: 500px;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: $lightest-background;
	border: 1px solid #ccc;
}

.post .editor_control_bar {
	background: #f5f5f5;
}

.popup_menu {
	background: $lightest-background;
	border: 1px solid #ccc;
}

.popup_menu .popup_item {
	background: #efefef;
	color: $dark-text-color;
}

.popup_menu .popup_item:hover {
	background: $primary-color;
	color: #fff;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

img {
	border: none;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background: #FFFBD9;
	border-bottom: 1px solid #F7E86A;
	color: $dark-text-color;
	text-align: center;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

.tcat_menu > .expcolimage {
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: $lightest-background;
	padding: 10px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: $lightest-background;
	border: 1px solid #ccc;
	padding: 10px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: $font-family-monospace;
	font-size: 13px;
}

.smilie {
	vertical-align: middle;
}

.smilie_pointer {
	cursor: pointer;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.red_alert {
	background: #FBE3E4;
	border: 1px solid #A5161A;
	color: #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
	word-wrap: break-word;
}

.red_alert a:link,
.red_alert a:visited,
.red_alert a:hover,
.red_alert  a:active  {
	color: #A5161A;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: $dark-text-color;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url($img-path + 'error.png') no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination,
.tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current,
.pagination a {
	padding: 3px 6px;
	margin-bottom: 3px;
}

.pagination a {
	background: #f5f5f5;
	border: 1px solid #ccc;
}

.pagination .pagination_current {
	background: none;
	color: $dark-text-color;
	border: none;
	font-weight: bold;
}

.pagination a:hover {
	background: $primary-color;
	color: #fff;
	border-color: #263c30;
	text-decoration: none;
}

.pagination .go_page img {
	margin-bottom: -4px;
}

.drop_go_page {
	background: #f5f5f5;
	padding: 4px;
}

.pagination_breadcrumb {
	background-color: #efefef;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

.thread_legend,
.thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend,
.forum_legend dt,
.forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.ignored_post {
	border-top: 3px solid #333;
	padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}

.post {
	overflow: hidden;
}

.post.classic {
	padding-top: 15px;
}

.post .post_author {
	border-bottom: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background: #f5f5f5;
	padding: 5px;
	overflow: hidden;
}

.post.classic .post_author {
	border: 1px solid #ddd;
	float: left;
	width: 15%;
	margin: 0 1% 15px 0;
	border-left: 0;
	padding: 5px 1%;
}

.post .post_author .buddy_status {
	vertical-align: middle;
	margin-top: -4px;
}

.post .post_author div.author_avatar {
	float: left;
	margin-right: 3px;
}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
}

.post .post_author div.author_avatar img {
	padding: 5px;
	border: 1px solid #ddd;
	background: $lightest-background;
}

.post .post_author div.author_information {
	float: left;
	padding: 6px 8px;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	float: right;
	font-size: 11px;
	padding: 3px 10px 3px 5px;
	color: #666;
	line-height: 1.3;
}

.post.classic .post_author div.author_statistics {
	border-top: 1px dotted #ccc;
	margin: 6px 0 0 0;
	padding: 6px 6px 3px 6px;
	float: none;
}

.post .post_head {
	font-size: 11px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 4px;
}

.post .post_head span.post_date {
	color: #666;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #666;
}

.post_body {
	font-size: 14px;
	padding: 12px 0;
}

.post.classic .post_content {
	float: left;
	width: 79%;
	padding: 0 1% 5px 1%;
}

.post_content {
	padding: 9px 10px 5px 10px;
}

.post_content .signature {
	margin-top: 5px;
	border-top: 1px dotted #ddd;
	padding: 10px 0 4px 0;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999;
}

.post .post_meta a:link,
.post .post_meta a:visited {
	color: #777;
}

.post .post_meta a:hover,
.post .post_meta a:active {
	color: #777;
}

.post_controls {
	clear: both;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	overflow: hidden;
}

.postbit_buttons > a:link,
.postbit_buttons > a:hover,
.postbit_buttons > a:visited,
.postbit_buttons > a:active {
	display: inline-block;
	padding: 2px 5px;
	margin: 2px;
	font-size: 11px;
	background: #eee url($img-path + 'buttons_bg.png') repeat-x;
	border: 1px solid #ccc;
	color: #555;
}

.postbit_buttons > a:hover {
	border-color: #bbb;
}

.postbit_buttons a span {
	padding-left: 20px;
	display: inline-block;
	height: 16px;
	background-image: url($img-path + 'buttons_sprite.png');
	background-repeat: no-repeat;
}

.postbit_buttons a.postbit_find span {
	background-position: 0 0;
}

.postbit_buttons a.postbit_reputation_add span {
	background-position: 0 -20px;
}

.postbit_buttons a.postbit_email span {
	background-position: 0 -40px;
}

.postbit_buttons a.postbit_website span {
	background-position: 0 -60px;
}

.postbit_buttons a.postbit_pm span {
	background-position: 0 -80px;
}

.postbit_buttons a.postbit_quote span {
	background-position: 0 -100px;
}

.postbit_buttons a.postbit_multiquote span {
	background-position: 0 -120px;
}

.postbit_buttons a.postbit_multiquote_on span {
	background-position: 0 -140px;
}

.postbit_buttons a.postbit_edit span {
	background-position: 0 -160px;
}

.postbit_buttons a.postbit_qdelete span {
	background-position: 0 -180px;
}

.postbit_buttons a.postbit_qrestore span {
	background-position: 0 -200px;
}

.postbit_buttons a.postbit_report span {
	background-position: 0 -220px;
}

.postbit_buttons a.postbit_warn span {
	background-position: 0 -240px;
}

.postbit_buttons a.postbit_purgespammer span {
	background-position: 0 -540px;
}

.postbit_buttons a.postbit_reply_pm span {
	background-position: 0 -260px;
}

.postbit_buttons a.postbit_reply_all span {
	background-position: 0 -280px;
}

.postbit_buttons a.postbit_forward_pm span {
	background-position: 0 -300px;
}

.postbit_buttons a.postbit_delete_pm span {
	background-position: 0 -320px;
}

a.button:link,
a.button:hover,
a.button:visited,
a.button:active {
	background: #0f0f0f url($img-path + 'tcat.png') repeat-x;
	color: #fff;
	display: inline-block;
	padding: 4px 8px;
	margin: 2px 2px 6px 2px;
	border: 1px solid #000;
	font-size: 14px;
}

a.button.small_button {
	font-size: 13px;
	margin: 0;
	padding: 3px 6px;
}

a.button span {
	padding-left: 20px;
	display: inline-block;
	background-image: url($img-path + 'buttons_sprite.png');
	background-repeat: no-repeat;
}

a.button.new_thread_button span {
	background-position: 0 -340px;
}

a.button.new_reply_button span {
	background-position: 0 -360px;
}

a.button.closed_button span {
	background-position: 0 -380px;
}

a.button.rate_user_button span {
	background-position: 0 -400px;
}

a.button.add_buddy_button span {
	background-position: 0 -440px;
}

a.button.remove_buddy_button span {
	background-position: 0 -480px;
}

a.button.add_ignore_button span {
	background-position: 0 -460px;
}

a.button.remove_ignore_button span {
	background-position: 0 -500px;
}

a.button.report_user_button span {
	background-position: 0 -520px;
}

.quick_jump {
	background: url($img-path + 'jump.png') no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	margin-top: -3px;
	border: none;
}

.pollbar {
	background: url($img-path + 'pollbar.png') top left repeat-x;
	border: 1px solid #3f3f3f;
	height: 10px;
}

.pollbar .percent {
	display: none;
}

.posticons_label {
	white-space: nowrap;
}