$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-size: 1.8rem;
$font-size-large: 2.4rem; // 24px
$font-size-small: 1.4rem; // 14px