//
//  Typography
//

$primary-font: Tahoma, Verdana, Arial, Sans-Serif;
$code-font: Monaco, Consolas, Courier, monospace;
$font-size: 16px;
$font-size-large: $font-size * 1.125em; // 18px
$font-size-small: $font-size * .875em; // 14px


//
//  Colors
//

// Shades:
$dark-text-color: #333333;
$lightest-background: #FFFFFF;


//
//  Animations
//

// Global transition settings:
$transition-active: true; // This will enable/disable transitions globally
$transition-speed: .2s;
$transition-type: ease;


//
//  Misc
//
$border-radius: 3px;
$img-path: "../images/";
