$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-size: 16px;
$font-size-large: $font-size * 1.125em; // 18px
$font-size-small: $font-size * .875em; // 14px