.header {
	background: $primary-color;

	.menu {
		float: right;

		&__item {

			a {
				color: #FFF;
				font-weight: bold;
			}
		}
	}
}

.logo {
    display: inline-block;

	&__image {
		width: 100%;
		max-width: 200px;
		height: auto;
	}
}

#logo {
	padding: 10px 0;
	border-bottom: 1px solid #263c30;
}

#content {
	width: auto;
	padding: 20px 10px;
	overflow: hidden;
}

#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header ul.menu li {
	margin: 0 7px;
	display: inline;
}

#header ul.menu li a {
	display: inline-block;
	line-height: 16px;
}

#logo ul.top_links {
	font-weight: bold;
}